@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.container-why-choose-us{
    background-color: var(--main-color);
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container {
    background-color: #101520;
    position: relative;
    border-radius: 28px;
    width: 100em;
    height: 35em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.35);
}

.why-choose-us-title {
    color: var(--second-color);
    font-family: var(--main-font), sans-serif;
    font-size: 48px;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 3rem; 
    margin-top: -3rem;
}

.items-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 12.5em;
}

.items-container > div {
    font-family: "Raleway", sans-serif;
    color: var(--second-color);
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.items-container img {
    width: 215px;
    height: auto;
    padding: none;
    margin-bottom: 0.5em;
}