.container-why-choose-us{
    background-color: var(--main-color);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10em 2em 5em 2em;
}

.inner-container {
    background-color: var(--fifth-color);
    position: relative;
    border-radius: 28px;
    width: 100%;
    max-width: 75vw;
    height: auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.35);
}

.why-choose-us-title {
    color: var(--second-color);
    font-family: var(--main-font), sans-serif;
    font-size: 48px;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 3rem; 
}

.items-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: clamp(4rem, 10vw, 15em);
}

.items-container > li {
    font-family: var(--second-font), sans-serif;
    color: var(--second-color);
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8em;
}

.items-container img {
    width: 215px;
    height: auto;
    padding: none;
    margin-bottom: 0.5em;
}

@media(max-width: 1900px) {
    .inner-container {
        padding: 1em 0.5em;
        width: 95%;
    }
}

@media(max-width: 1300px) {
    .inner-container {
        width: 90%;
        padding: 2em 1em;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .why-choose-us-title {
        font-size: 2.5em;
        margin-bottom: 1em;
        margin-top: 0.5em;
    }

    .items-container {
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }

    .items-container > li {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 2em;
        width: 80%;
        font-size: 2em;
        white-space: normal;
    }

    .items-container > li:nth-child(2) {
        flex-direction: row-reverse;
    }

    .items-container img {
        width: 140px;
        margin-bottom: 0em;
    }
}

@media (max-width: 700px) {
    .items-container > li {
        flex-direction: column;
        white-space: normal; 
        font-size: 1.5em;
        gap: 0.5em;
    }
    .items-container > li:nth-child(2) {
        flex-direction: column;
    }
    .items-container img {
        width: 100px;
    }
    .items-container {
        gap: 2em;
    }
}

@media (max-width:350px) {
    .why-choose-us-title{
        font-size: 1.5em;
    }
}