.header{
    text-decoration: none;
    padding: 10px;
    border: 0.1em solid var(--second-color);
    color: var(--second-color);
    transition: background-color 0.5s ease, color 0.5s ease;
    &:hover{
        background-color: var(--second-color);
        color: white;
    }
}

.nav{
    color: var(--four-color);
    margin: 0 1.5em 0 1.5em;
    transition: text-shadow 0.3s ease;
    &:hover{
        text-shadow: 0 0 3px #fff,
                0 0 6px #0ff;
    }
}

.hero {
    text-decoration: none;
    background-color: var(--second-color);
    color: #ffff;
    border: 0.1em solid var(--second-color);
    padding: 20px;
    width: 9em;
    font-size: 2em !important;
    transition: background-color 0.5s ease, color 0.5s ease;
    white-space: pre-line;
    display: inline-block;
    text-align: center;
    word-wrap: break-word; 

    &:hover {
        background-color: var(--main-color);
        color: var(--second-color);
    }
}

.button{
  cursor: pointer;
  font-family: var(--main-font);
  font-size: 1.3em;
  font-weight: 600;
  text-decoration: none;
}
