
.container-hero{
    background-color: var(--main-color);
    height: var(--hero-height);
    justify-content: center;
    padding-top: 10em;
    overflow: hidden;
}

.container-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, var(--main-color) 100%),
        url("src/assets/images/Hero/hero-background-image.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.15;
    z-index: 0;
}

.hero-title {
    color: #ffff;
    font-family: var(--title-font);
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 7rem;
    white-space: pre-line;
    position: relative;
    z-index: 1;
    text-shadow:
        0 0 1px #ffff,
        0 0 2px #ffff,
        0 0 3px #ffff;
}

.hero-title .highlight {
    color: var(--second-color);
    text-shadow:
        0 0 1px var(--second-color),
        0 0 2px var(--second-color),
        0 0 3px var(--second-color);
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 5rem;
    position: relative;
    z-index: 1;
}


