.imageWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageWrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: var(--border-width) solid white;
    border-radius: 50%;
    box-sizing: border-box;
    z-index: 1;
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
}