.imageWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 9px solid white;
    border-radius: 50%;
    box-sizing: border-box;
}

.image {
    display: block;
    width: 50%;
    height: 50%;
    height: auto;
}

@media (max-width: 800px) {
    .imageWrapper {
        width: 100px;
        height: 100px;
        border-width: 7px;
    }
}