.container-our-services{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 1em;
}

.services-container{
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
    flex-wrap: wrap;
}

.our-services-title {
    text-align: center;
    color: var(--second-color);
    font-family: "Raleway";
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-weight: 800;
    margin-top: 1rem;
    margin-bottom: 2em;
    letter-spacing: 0.05em;
}

@media (max-width: 800px) {
    .services-container {
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }

    .our-services-title {
       font-size: clamp(2rem, 8vw, 2.5rem);
       margin-bottom: 1.5em;
    }
}