@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.service-card{
    display: flex;
    width: 325px;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    gap: 2.5em;
}

.title{
    color: var(--four-color);
    font-family: "Raleway";
    text-align: center;
    width: 325px;
    height: 58px;
    font-size: 28px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0.05em;
}

.description-box{
    background-color: var(--third-color);
    mix-blend-mode: luminosity;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    width: 325px;
    height: 425px;
    border-radius: 25px;
    padding: 2.5em;
    box-sizing: border-box;
}

.description{
    color: var(--four-color);
    font-family: "Raleway";
    font-weight: 500;
    text-align: left;
    text-justify: inter-word;
    font-size: 28px;
}