@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.service-card{
    display: flex;
    max-width: 325px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 2em;
}

.title{
    color: var(--four-color);
    font-family: "Raleway";
    text-align: center;
    width: 100%;
    min-height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.3rem, 4vw, 1.5rem);
    font-weight: 800;
    margin: 0;
    letter-spacing: 0.05em;
}

.description-box{
    background-color: var(--third-color);
    mix-blend-mode: luminosity;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    width: 100%;
    min-height: 420px;
    border-radius: 25px;
    padding: 2.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.description{
    color: var(--four-color);
    font-family: "Raleway";
    font-weight: 500;
    text-align: left;
    text-justify: inter-word;
    font-size: clamp(1rem, 4vw, 1.6rem);
}

@media (max-width: 768px) {
    .service-card {
        max-width: 400px;
        padding: 0em;
        gap: 0em;
    }

    .description-box{
        min-height: 100px;
        padding: 1rem 1rem;
    }
}