@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neucha&display=swap');


.container-directors{
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2em;
    gap: 2.5em;
}

.director
{
    background-color: #1A1E29;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 7em;
}

.lideres-title 
{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    padding-top: 1em;
    padding-bottom: .5em;
    font-weight: 800;
    font-size: 45px;
    background: linear-gradient(270deg, var(--second-color), var(--third-color), var(--four-color));
    background-size: 600% 600%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 6s ease infinite;
    text-shadow: 0 0 5px rgba(255,255,255,0.2);
}

@keyframes gradientMove 
{
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}