
.about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1.5rem;
    background-color: var(--main-color);
    height: auto;
}

@media (max-width: 800px) {
    .about-us-container {
        padding: 2rem 1rem;
    }
}

