@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.card {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    align-items: start;
    gap: 3rem;
    background-color: #0f1420;
    mix-blend-mode: under;
    padding: 2.5rem;
    border-radius: 28px;
    max-width: 75vw;
    min-width: 700px;
    width: 100%;
    height: auto;
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.5);
}

.image {
    min-width: 300px;
    width: 100%;
    height: auto;
    aspect-ratio: 12/9;
    border-radius: 28px;
    display: block;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
}

.title {
    color: var(--second-color);
    font-family: "Raleway";
    text-align: left;
    font-size: clamp(2.5rem, 5vw, 6rem);
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 1rem;
    letter-spacing: 0.05em;
}

.description {
    color: var(--four-color);
    font-family: "Raleway";
    text-align: justify;
    font-size: clamp(1rem, 1.2vw, 4rem);
    font-weight: 500;
    line-height: 1.6; 
    margin-right: 1rem;
}


@media (max-width: 1024px) {
    .card {
        min-width: 0;
        padding: 2rem;
        grid-template-columns: 1fr;
        grid-template-areas:
            "image"
            "title"
            "description";
        justify-items: center;
        gap: 1rem;
        padding: 1rem;
    }

    .text-wrapper {
        display: contents;
    }

    .title {
        grid-area: title;
        text-align: center;
        font-size: clamp(3rem, 5vw, 4rem);
        margin-bottom: 0rem;
    }

    .image {
        grid-area: image;
        min-width: 0;
    }

    .description {
        grid-area: description;
        margin-right: 0;
        text-align: justify;
        font-size: clamp(1rem, 1vw, 4rem);
    }
}

@media (max-width:425px){
    .card {
        max-width: 100vw;
    }
}