@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.card {
    display: flex;
    flex-direction: row;
    align-items: top;
    gap: 3rem;
    background-color: color-mix(in srgb, var(--third-color) 35%, transparent);
    padding: 2.5rem;
    border-radius: 28px;
    max-width: 1100px;
    min-width: 700px;
    width: 100%;
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.5);
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 28px;
    display: block;
    flex: 1;
    min-width: 300px;
}

.text-wrapper {
    flex: 1;
}

.title {
    color: var(--second-color);
    font-family: "Raleway";
    font-size: clamp(2rem, 1.8vw, 4rem);
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 1rem;
    letter-spacing: 0.05em;
}

.description {
    color: var(--four-color);
    font-family: "Raleway";
    font-size: clamp(1.3rem, 1vw, 2rem);
    font-weight: 500;
    line-height: 1.6; 
    margin-right: 4rem;
}
