@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neucha&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neucha&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.container-footer
{
    height: auto;
    min-height: 66vh;
    display:flex;
    flex-direction: column;
    background-color: #132D46;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 2em 0 2em;
    font-family: "Raleway", sans-serif;
    gap:5vh;
}

.copyright
{
    font-weight: 300;
    font-size:9px;
    color:#FFFFFF;
    text-align: center;
    align-self: center;
    white-space: normal;
    padding-top: 4vh;
}

.container-logo-codetech
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 32px;
    color: #FFFFFF;
    text-wrap-mode: nowrap;
}

.container-logo-codetech img
{
    min-width: 30%;
    max-width: 50vw;
}

.container-info
{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vh;
}

.info-titulo
{
    color:#FFFFFF;
    font-weight: 300;
    font-size:16px;
}

.info-block
{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.info-block-image
{
    width: auto; 
    max-width: 10vw;
}

.info-block-text
{
    font-weight: 400;
    color: #FFFFFF;
    font-size: 12px;
    text-align: left; 
}

.container-logos-unesp
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:2em;
    align-self: center;
}

.container-logos-unesp img
{
    height: auto;
    max-height:4vh;
}

@media (min-width: 600px) 
{
    .copyright {
        font-size:14px;
    }
    
    .info-block-text {
        flex: 1 1 0%;   
        min-width: 0;   
        white-space: normal;
    }
    
    .container-footer {
        min-height:50vh;
    }

    .info-titulo {
        margin: 0;
        padding: 0;
        align-self: flex-start;      
    }

    .container-central
    {
        display: flex;
        flex-direction: row;
        justify-content: flex-start; 
        align-items: center;        
        width: auto;
        max-width: 50%;
        gap: 50%;
    }
    
    .container-logo-codetech
    {
        flex: 0 0 auto;              
        display: flex;
        align-items: center;        
        gap: 0.5rem;
        margin: 0;
        align-self: flex-start;
        font-size:32px;
    }

    .container-logo-codetech img {
        max-width: 100%; 
        height: auto;
    }

    .container-info
    {
        flex: 0 1 auto;            
        display: flex;
        flex-direction: column;
        justify-content: center;    
        margin: 0;
        padding: 0;
    }

    .info-block {
        width: 100%;
    }

    .info-block-image
    {
        width:auto;
        max-width:5vw;
    }

    .container-logos-unesp
    {
        justify-content: flex-start;
        align-items: flex-start;
        align-self: flex-start;
    }

    .container-logos-unesp img {
        max-width: 100%; 
        height: auto;
    }
}

@media (min-width: 1024px) 
{
    .container-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        min-height: 40vh;
        padding: 4vh 5vw; /* aumenta respiro interno */
        gap: 5vw; /* mais espaçamento horizontal entre colunas */
    }

    .container-left, .container-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        gap: 4vh; /* novo: espaço entre os blocos internos */
    }

    .container-left {
        align-items: flex-start;
    }

    .copyright {
        align-self: flex-start;
        font-size: 14px;
        margin-bottom: 2vh; /* pequeno espaço extra abaixo */
    }

    .container-logo-codetech {
        gap: 0.8rem;
        font-size: 36px; /* ligeiramente maior */
    }

    .container-logo-codetech img {
        height: auto;
        width: auto;
        max-width: 80px; /* aumenta visibilidade do logo */
    }

    .info-titulo {
        font-size: 30px;
    }

    .info-block-image {
        width: auto;
        max-width: 2.5vw; /* levemente maior */
        transition: transform 0.3s ease;
        transform-style: preserve-3d;   
    }

    .info-block-image:hover {
        transform: scale(1.3);
        cursor: pointer; 
    }

    .container-logos-unesp {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 3em; /* aumenta o espaçamento entre logos */
        margin-top: 2vh; /* novo: distância do conteúdo acima */
    }

    .container-logos-unesp img {
        height: auto;
        max-height: 7vh; /* aumenta o tamanho das logos */
        max-width: none; /* remove limitação anterior */
    }
}