@import "tailwindcss";

@layer base{
    html{
        scroll-behavior: smooth;
    }
    body{
        background-color: #1A1E29;
    }
}

@theme {
    --color-primary: #01C38E;
    --color-bg: #1A1E29;
    --color-card:#0f1420; 
    --color-shadow:#0b0e16;
    --color-footer: #132D46;
    /* #242938; */
    
    --font-montserrat: 'Montserrat';
    --font-russo-one: 'Russo One';

    --shadow-glow: 0 0 20px rgba(1, 195, 142, 0.4);

    --image-hero: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, #01C38E 100%), url("images/bgHero.png");
}

@layer utilities {
    @keyframes pulse-glow {
        0%, 100% { 
            filter: drop-shadow(0 0 5px rgba(1, 195, 142, 0.3)); 
        }
        50% { 
            filter: drop-shadow(0 0 20px rgba(1, 195, 142, 0.8)); 
        }
    }

    .animate-glow {
        animation: pulse-glow 3s ease-in-out infinite;
    }
    .clip-custom {
        clip-path: polygon(19% 0, 100% 0, 80% 100%, 0% 100%);
    }

    @keyframes sutil-pulse {
        0%, 100% { 
            transform: scale(1); 
        }
        50% { 
            transform: scale(1.05);
        }
    }

    .animate-pulse-slow {
        animation: sutil-pulse 8s ease-in-out infinite;
        will-change: transform;
    }
}